body{
    background: black;
    color: white;
}

h1{
    font-family: 'Cherry Swash', cursive;
    font-size: 60px;
    padding-left: 0.5em;
    padding-bottom: 1em;
}

.jump{
    color: white;
    padding-left: 3em;
}

h2{
    font-family: 'Cherry Swash', cursive;
    font-size: 50px;
    padding-left: 1em;
}

h3{
    font-family: 'Sawarabi Mincho', serif;
    padding-left: 2em;
    font-size: 30px;
}
p{
    padding-left: 3em;
    font-size: 20px;
}

ul {
    list-style: none;
    text-align: center;
}
li {   
    margin: 5px;
    display: inline-block;
}
img {
    width: 350px;
    height: 350px;
}
figcaption {
    font-size: 20px;
    text-align: center;
}

.calendar {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  font-size: clamp(10px, 6.429px + 1.116vw, 15px);
  color: black;
}
.calendar__title {
  margin-bottom: 0.5em;
  font-size: clamp(20px, 12.857px + 2.232vw, 30px);
  text-align: center;
  font-weight: bolder;
  color: white;
}
.calendar__table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}
.calendar__body .calendar__cell {
  font-weight: bold;
}
.calendar__cell {
  border: 3px solid black;
  padding: 10px 0;
  text-align: center;
  background: white;
}
.calendar__cell.is-holiday {
  background: rgb(202, 202, 202);
}

.musubi {
    color: black;
    background-color: white;
    width: 100%;
    height: 100px;
    padding-left: 30em;
    margin-top: 25em;
    margin-bottom: 5em;
    font-size: 12px;
}
