body{
    background: black;
    color: white;
}

h1 {
    font-family: 'Cherry Swash', cursive;
    color: #C9A24D;
    font-size: 60px;
    border-bottom: 1px solid #C9A24D;
}

.jump{
    color: white;
    padding-left: 3em;
}
.jump:hover {
  color: #FFD700;
}

h2{
    font-family: 'Cherry Swash', cursive;
    font-size: 50px;
    padding-left: 0.5em;
    border-left: 5px solid #C9A24D;
}

h3{
    font-family: 'Sawarabi Mincho', serif;
    padding-left: 2em;
    font-size: 30px;
}
p{
    padding-left: 3em;
    font-size: 20px;
}

.system b {
    color: #C9A24D;
}

ul {
    list-style: none;
    text-align: center;
}
li {   
    margin: 5px;
    display: inline-block;
}
img {
    width: 350px;
    height: 350px;
    border: 2px solid #C9A24D;
}
.lank img {
    border-width: 7px;
    transform: scale(1.05);
}
.no1 img {
    border-color: #ffd16d;
}
.no1 figcaption {
    color: #ffd16d;
    font-weight: bold;
    font-size: 29px;
}
.no2 img {
    border-color: silver;
}
.no2 figcaption {
    color: silver;
    font-size: 26px;
}
.no3 img {
    border-color: burlywood;
}
.no3 figcaption {
    color: burlywood;
    font-size: 25px;
}
figcaption {
    font-size: 20px;
    text-align: center;
}

.calendar {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  font-size: clamp(10px, 6.429px + 1.116vw, 15px);
  color: black;
}
.calendar__title {
  margin-bottom: 0.5em;
  font-size: clamp(20px, 12.857px + 2.232vw, 30px);
  text-align: center;
  font-weight: bolder;
  color: white;
}
.calendar__table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}
.calendar__body .calendar__cell {
  font-weight: bold;
}
.calendar__cell {
  border: 3px solid black;
  padding: 10px 0;
  text-align: center;
  background: white;
}
.calendar__cell.is-holiday {
  background: rgb(202, 202, 202);
}

.musubi {
    background: black;
    color: #C9A24D;
    padding: 2em;
    margin-top: 5em;
    font-size: 12px;
}
